:root {
  --container_bg: rgba(125, 201, 193, 0.6);
  --default_border: 1px solid grey;
}

body {
  margin: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  display: flex;
}

* {
  border-collapse: collapse;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_table {
  max-width: 1200px;
  padding: 2px;
}

.table_btn, .chart_btn {
  border: var(--default_border);
  background-color: var(--container_bg);
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 0;
  border-bottom: none;
}

.filer_remove_btn {
  cursor: pointer;
}

.table_btn:active, .chart_btn:active, .filer_remove_btn:active {
  box-shadow: 0px 0px 2px gray;
}

.table_btn:focus, .chart_btn:focus {
  background-color: rgba(117, 189, 182, 0.932);
}

menu {
  width: 70%;
  height: 42px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

menu * {
  background-color: rgb(238, 238, 238);
  border: var(--default_border);
  box-sizing: border-box;
}

input {
  font-size: 14px;
}

table {
  margin-top: 15px;
  border-spacing: 0;
  position: relative;
}

table * {
  padding: 4px;
  margin: 0;
}

table th, td {
  text-align: left;
  border: var(--default_border);
}

table th {
  background-color: rgba(255, 168, 136, 0.747);
}

table td:first-child {
  width: 322px;
}

.info_container {
  background-color: var(--container_bg);
  border: var(--default_border);
  padding: 5px;
}